body{
    background: #e0dada;
}

p {
    color: #302c2c;
}

h1{
    color:rgb(31, 56, 56);
}

h3{
    color:rgb(101, 113, 51);
}
.fotoPerfil{
         
    width: 200px;
    border: 2px solid #FFFFFF; /* shorthand*/
    border-radius: 50%;
    margin: 30px;
    box-shadow: 0px 0px 10px rgb(77, 75, 75);
      
    
}

ul{
    color:blue;
}

   
    

  
    

